 * {
	margin:0px;
	padding:0px;
	box-sizing: border-box;
}

body { 
	font-family: sans-serif;
	font-size: 14px;
	line-height: 1.5;
	margin: 0;
	padding: 0;
	background: #f8f6f6;
}
.data{
	width: 100%;

	/*height: 100px;*/
}

.data span{
	/*margin: 50px;*/

}

.spanAutor{
	float: right;
}


header{
	background-image: url("../imagens/logo.png");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	width:100%;
	height: 80px;
	margin-bottom:20px;
	float:left;
}

#h-logo{
	/*width:25%;*/
	float:left;
}
#h-center{
	width:30%;
	float:left;
	/*padding:10px;*/
}
.hide{
	display:none;

}

.show{
	display:block;
}
#user-info ul li{
	list-style:none;
}

footer{
	width:100%;
	/*height: 80px;*/
	margin:0 auto;
	background: #585858;
	float:left;
}

footer p{
	color:#fff;
	text-align:center;
}
#divBut{
	top: 30px;
	width: 70%;
	position: relative;
	left: 15%;
}
#divButs button{
	width: 49%;
}
#divButs a{
	width: 49%;
	margin-left: 1%;
}
#divForm{
	/*border-radius: 20px;*/
	/*padding: 10px 10px 50px;*/
	/*border: 3px solid #383838;*/
	width: 100%;
	position: relative;
	/*left: 15%;*/
}
main{
	min-height:80vh;
	width: 100%;
	/*margin: 0 auto;*/
	background-color: #FFFF;
	float:left;
	padding:20px;
}
.noticia{
	width: 90%;
	position: relative;
	left: 5%;
}
#divComentarios{
	display: none;
}
.noticia img{
	object-position: center;
	object-fit: cover;
	max-height: 300px;
}
.displayNone{
	display: none;
}

.displayBlock{
	display: block;
}

#form{
	width:80%;
	margin-left:10%;
}

.input{
	padding:10px;

}

.input input {
	width:90%;
}

#alunos{
	width:80%;
	margin-left:10%;
}
.alerta{
	margin-top: 10px;
}


.botaoAzul{
	background-color: transparent;
	border: none;
	color: #007BFF;
}
.botaoVerm{
	background-color: transparent;
	border: none;
	color: #DC3545;
}

#icon-close-menu{
	display:none;
}
#link-icon-close-menu img{
	height:35px; 
	margin-top:40px
}
#divTable{
	font-size: 12px;
}
img {
	max-width: 100%;
	height: auto;
}

.msg{
	width:90%;
}



#adicionarComentario{
	width: 30%;
	position: relative;
	left: 35%;
}
#divComentarios{
	width: 100%;
	position: relative;
	left: 0;
}
.divComentario{
	background-color: #585858;
	width: 100%;
	position: relative;
	left: 0;
	/*padding: 5px;*/
	border: 1px solid #585858;
	border-bottom-radiuss: 10px;
}
#divAutorComent{
	padding: 5px;
	border: 1px solid #585858;
	background-color: #f8f6f6;
}
#divDescComent{
	padding: 20px;
	border-radius: 10px;
	font-size: 15px;
	color: #f8f6f6;
}
#adUser{
	font-size: 14px;
}

 @media only screen and (min-width:1024px){/*Para resoluções acima de 1024px*/
	header, nav, main, footer, #msg{
		width:100%;
		/*margin-left:10%;*/
	}

	/*nav ul li a{*/
	/*	float:left; !*Fluído a esquerda*!*/
	/*	margin:15px;*/
	/*	width:160px;*/
	/*}*/

	/*nav ul li{*/
	/*	list-style:none;!*Remove marcador do item da lista*!*/
	/*}*/

	#divTable{
		font-size: 20px;
		width: 70%;
		position: relative;
		left: 15%;
	}
	#icon-menu{
		display:none;
	}
	 #divBut{
		 top: 30px;
		 width: 70%;
		 position: relative;
		 left: 15%;
	 }
	 #divForm{
		 /*border-radius: 20px;*/
		 /*padding: 10px 10px 50px;*/
		 /*border: 3px solid #383838;*/
		 width: 40%;
		 position: relative;
		 left: 30%;
	 }
	 .noticia{
		 left: 25%;
		 width: 50%;
	 }
	 #divComentarios{
		 width: 60%;
		 left: 20%;
	 }
	 .divComentario{
		 width: 60%;
		 left: 20%;
	 }
	 .imgNoti{
		 object-fit: cover;
		 height: 200px;
	 }
}